body{
    background: #dde4fc;
}
.header{
    text-align: center; 
}
.rule{
    text-align: center;
    padding-top: 5%; 
}
.equipment{

    
}

#gameOver{
    text-align: center;
    color: #f36363; 
}

.btn{
    height: 120px;
    width: 120px;
    
}
.rbtn{
    display: block;
    margin: auto;
    padding: auto;
    background-color: aquamarine;
    border-radius: 7px;
}
.restart{
    padding-top: 50%;
}
#A1{
    background: #ed0505;
   
}
#B2{
    background: #cfe927;
}
#C3{
    background: #0e06f3;
}
#D4{
    background: #07c0f8;
}
.score{
   text-align: center;
    padding-top: 50%;
    

}
