#heading{
    height: 200px;
    text-align: center;
    text-decoration: solid;
    /* background: #8bede6; */
    font-size: 400%;
    margin-top: -88px;
    
}
.player{
    height: 100px;
    text-align: center;
    /* background: #e9a9a9; */
}

#player1{
    margin-right: 150px;
    font-size: 30px;
    
}
#player2{
    margin-left: 150px;
    font-size: 30px;
}

.point{
    /* background: #ee78c9; */
    height: 300px;
    text-align: center;
}
#p1Point{
    margin-right: 150px;
    margin-top:30px;
}
#p2Point{
    margin-left: 150px;
}
.reasult{
    margin-top: -30px;
    height: 300px;
    /* background: #d26c6c; */
}
#res{
    font-size: 30px;
    text-align: center;
}
#img1{
    max-height:150px;
    max-width: 150px;
    margin-right: 50px;
}

#img2{
    max-height:150px;
    max-width: 150px;
    margin-left: 50px;
}
div{
    background: #f2dede;
}
